@charset "UTF-8";
.action{
  padding: 0px !important;
}
.bg-insurance{
  background-color: rgba(250, 175, 7, 1);
}
body{
  #background-color: rgba(207, 207, 207, 1);
}
.btn-anal{

}
.panel .info{
  padding: 15px;
  font-size: 30px;
  text-align: center;
}
#login{
  margin-top: 35px;
}
#main{
  margin-top: 50px;
}
.status-improved{
  background-color: rgba(161, 255, 153, 1);
}
.status-declined{
  background-color: rgba(255, 156, 153, 1);
}
.text-insurance{
  color: rgba(52, 52, 52, 1);
}
