@charset "UTF-8";
.action{
  padding: 0px !important;
}
.bg-insurance{
  background-color: rgba(250, 175, 7, 1);
}
body{
  background-color: rgba(255, 255, 255, 1);
}
.color-fb{
  color: rgba(45, 111, 241, 1);
}
.color-skype{
  color: rgba(0, 194, 255, 1);
}
.panel .info{
  padding: 15px;
  font-size: 30px;
  text-align: center;
}
#login{
  margin-top: 35px;
}
#main{
  margin-top: 50px;
}
#mdl_anal .score{
  overflow-y: hidden;
  width: 160px;
  height: 160px;
  border: 0px;
}
#mdl_anal .chart{
  overflow-y: hidden;
  width: 376px;
  height: 203px;
  border: 0px;
}
#mdl_anal #user-info #user-name{
  font-size: 45px;
  font-weight: 700;
}
#mdl_anal #user-info #user-contact i{
  margin: 9px 4px;
}
#mdl_anal #user-info #user-contact span{
  font-size: 30px;
}
.reward-panel{
  background-color: rgba(230, 230, 230, 1);
}
.reward-panel .info{
  padding: 15px 0px;
  text-align: center;
  font-size: 20px;
  background: rgba(45, 45, 45, 1);
  color: rgba(230, 230, 230, 1);
}
.reward-panel .rank{
  padding: 8px 0px;
  text-align: center;
  font-size: 18px;
  background: rgba(240, 166, 22, 1);
  color: rgba(28, 28, 28, 1);
}
#rewards-available .col-md-3{
  padding: 15px;
}
#rewards-add{
  padding-top: 30px;
}
.status-improved{
  background-color: rgba(161, 255, 153, 1);
}
.status-declined{
  background-color: rgba(255, 156, 153, 1);
}
.table-title{
  font-size: 30px;
  font-weight: 700;
}
.text-bold{
  font-weight: bold;
}
.text-insurance{
  color: rgba(52, 52, 52, 1);
}
.appName{
	font-size: 60px;
	font-family: 'Righteous', cursive;
}
.appName2{
	font-family: 'Righteous', cursive;
}
.slogan{
	margin-top: -10px;
	font-family: 'Indie Flower', cursive;
}